.btn-skip {
  position: absolute;
  right: 0;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  padding: 7px 10px;

  &.interactive-area-position {
    bottom: 0;
  }

  &.bottom-bar-position {
    top: 0;
    transform: translateY(-100%);
  }
}
